#covid
{
  background-color: #0f3057;
}
#precautions
{
  background-color: #00587a;
}

#submit
{
  background-color: #0f3057;

}
h3
{
  color: white;
  font-family: 'Roboto', sans-serif;
}
h2
{
  color: white;
  font-style: italic;
  font-weight: bold;
font-family: 'Roboto', sans-serif;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 10px;
  width: 5%;
}

p{
  color: white;
  font-family: sans-serif;

}
li
{
  margin-left: 15%;
   text-align: left;
color: white;
font-size: 25px;

}
.list
{
  padding-top: 5%;
  padding-bottom: 5%;
}
.navbar
{
  margin-right:60px;
  padding:3% 15%;

}
.nav-link
{
  font-size: 15px;
}
.navbar-brand
{ font-size: 50px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.size
{
  padding-bottom: 3%;
}
.prec
{ text-align: center;

  padding: 2% 15%;
}
.caution
{
  text-align:center;
  padding-top: 5%;
  padding-bottom: 2%;
}
.abc
{
  padding: 2% 15%;
}
.arti
{ padding-top: 3%;
  text-align: center;
padding-bottom: 5%;
}
.xyz
{
  padding: 5%;
  text-align:center;
  font-size: 25px;
  color: white;
}
.modify
{
 color: white;
 font-size: 25px;
}
.list1
{
padding-top:3%;
}
.bottom-container
{
  text-align: center;

}
.white-section
{ text-align: center;
  background-color: #fff;

}
.social-icon {
  margin: 20px 10px;
  }

.container-fluid
{
  padding:3% 5% 7%;
}
.space
{
  padding-top: 5%;
}
.footer-link
{ padding: 5% 1%;
  color: white;
}
.intro
{ padding:5% 17%;
  text-align: center;
}
.contact
{ padding-top: 3%;
  text-align: center;
  color: white;
  padding-bottom: 3%;
}
.form-group
{
 padding: 1% 30%;
}
.form-check
{
  padding-bottom: 3%;
  padding-top: 3%;
}
